<section>
    <div class="container mt-3">
        <div class="row justify-content-center py-5">
            <div class="col-12 col-md-8 col-lg-8 col-xl-6">
                <div class="row">
                    <div class="col text-center">
                        <h1>Add Item</h1>
                        <p class="text-h3">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia. </p>
                    </div>
                </div>
                <div class="row align-items-center">

                    <div class="col-12">
                        <select id="cata" class="form-control">
                            <option value="selectoption">Please Select Catagory</option>
                            <option value="Shirt">Men Shirt</option>
                            <option value="TShirt">Men TShirt</option>
                            <option value="Jeans">Men Jean</option>
                            <option value="Trouser">Men Trouser</option>
                          </select>
                    </div>

                    <div class="col mt-4">
                        <label class="font-weight-bold" for="">Brand Name</label>
                        <input type="text" id="itemName" class="form-control">
                    </div>
                </div>
                <div class="row align-items-center mt-4">
                    <div class="col">
                        <label class="font-weight-bold" for="">Image</label>
                        <input type="text" id="itemImage" class="form-control">
                    </div>
                </div>
                <div class="row align-items-center mt-4">
                    <div class="col">
                        <label class="font-weight-bold" for="">Price</label>
                        <input type="number" id="itemPrice" class="form-control">
                    </div>
                    <div class="col">
                        <label class="font-weight-bold" for="">Quantity</label>
                        <input type="number" id="itemQu" class="form-control">
                    </div>

                </div>
                <div class="row justify-content-center mt-4">
                    <div class="col-12">
                        <label class="font-weight-bold" for="">Size:</label>
                    </div>
                    <div class="col-2">
                        <div class="container form-check">
                            <label class="form-check-label">
                              <input id="sSize" class="form-check-input"  type="checkbox" value="S">
                              S
                            </label>
                        </div>


                    </div>
                    <div class="col-2">
                        <div class="container form-check">
                            <label class="form-check-label">
                              <input id="mSize" class="form-check-input"  type="checkbox" value="M">
                              M
                            </label>

                        </div>

                    </div>
                    <div class="col-2">
                        <div class="container form-check">
                            <label class="form-check-label">
                              <input id="lSize" class="form-check-input" type="checkbox" value="L">
                              L
                            </label>

                        </div>

                    </div>
                    <div class="col-2">
                        <div class="container form-check">
                            <label class="form-check-label">
                              <input id="xlSize" class="form-check-input" type="checkbox" value="XL">
                              XL
                            </label>

                        </div>

                    </div>
                    <div class="col-2">
                        <div class="container form-check">
                            <label class="form-check-label">
                              <input id="xxlSize" class="form-check-input" type="checkbox" value="XXL">
                              XXL
                            </label>

                        </div>

                    </div>

                    <div class="col-12 mt-3">
                        <div id="sizeRow" class="row">
                            <div id="smset" class="col-md-4">


                            </div>
                            <div id="mdset" class="col-md-4">

                            </div>
                            <div id="lset" class="col-md-4">

                            </div>
                            <div id="xlset" class="col-md-4">

                            </div>
                            <div id="xxlset" class="col-md-4">

                            </div>

                        </div>
                    </div>
                </div>
                <div class="row justify-content-start mt-4">
                    <div class="col">
                        <!--<div class="form-check">
                            <label class="form-check-label">
                  <input type="checkbox" class="form-check-input">
                  I Read and Accept <a href="https://www.froala.com">Terms and Conditions</a>
                </label>
                        </div>-->

                        <button class="btn btn-primary btn-block px-4 mt-4 " id="itemBu">Add</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>